# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Node (por si se usa en algún momento)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
*.log

